.chat_label {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-wrap-text: TRUE;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgba(50, 49, 49, 0.5), 5, 0, 0, 1);
}

.drop-shadow {
    -fx-effect: dropshadow(gaussian, rgba(50, 49, 49, 0.5), 5, 0, 0, 1);
}

.button {
    -fx-background-color: TRANSPARENT;
}